@charset "UTF-8";



a {
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #444;
}

nav {
	float: left;
	padding: 10px;
	width: 100%;

}

dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	border: none;
	outline: none;
	margin: 0;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.dropdown-content, .dropdown-content-add {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a, .dropdown-content-add a {
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.dropdown-content a:hover, .dropdown-content-add a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content, .dropdown:hover .dropdown-content-add
	{
	display: block;
}

.toggle-nav {
	display: none;
}

@media screen and (min-width: 768px) {
	.menu {
		width: 100%;
		padding: 10px 18px;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
		border-radius: 3px;
	}
}

.menu ul {
	display: inline-block;
}

.menu li {
	margin: 0px 50px 0px 0px;
	float: left;
	list-style: none;
	font-size: 17px;
}

.menu li:last-child {
	margin-right: 0px;
}

.menu a {
	color: black;
	transition: color linear 0.15s;
}

@media screen and (max-width: 1150px) {
	.wrap {
		width: 90%;
	}
}

@media screen and (max-width: 768px) {
	.menu {
		position: relative;
		display: inline-block;
	}
	
	nav {
	width: 200px;
	}
	.menu ul {
		width: 100%;
		position: absolute;
		top: 50px;
		left: 15px;
		padding: 10px 18px;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
		border-radius: 3px;
		display: none;
	}
	.menu ul:after {
		width: 0px;
		height: 0px;
		position: absolute;
		top: 0%;
		left: 22px;
		content: '';
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #303030;
	}
	.menu li {
		margin: 5px 0px 5px 0px;
		clear: left;
		
	}
	
	.toggle-nav {
		padding: 20px;
		float: left;
		display: inline-block;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
		border-radius: 3px;
		background: #303030;
		color: #777;
		font-size: 20px;
		transition: color linear 0.15s;
		left: 0px;
	}
	
	.toggle-nav:hover, .toggle-nav.active {
		text-decoration: none;
		color: #66a992;
		
	}
}
